.header {
  width: 100%;
  position: relative;
  padding: 7.5em 40px 7.5em;
  color: #fff;
  background: url("../img/header-bg.jpg") center/100% 100% no-repeat;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 385px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &::before {
    background: url("../img/branch-top.png") 0 0/100% 100% no-repeat;;
    top: -20%;
  }

  &::after {
    bottom: -30%;
    background: url("../img/branch-bottom.png") 0 0/100% 100% no-repeat;;
  }

  /*&__branch {
    position: absolute;
    left: 0;
    right: 0;
    height: 385px;
    height: clamp(170px, 40vw, 385px);
  }

  &__branch--top {
    top: -5vw;
  }

  &__branch--bottom {
    bottom: -18%;
  }*/

  &__magnum-logo {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    position: relative;
    z-index: 5;
  }

  &__title {
    font-size: $large-font-size;
    text-align: center;
    font-weight: 900;
    margin-top: 1em;
  }

  &__row {
    margin-top: 1vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__text {
    max-width: 676px;
    font-weight: 500;
    font-size: $big-font-size;
  }

  &__text-span {
    font-weight: 700;
  }

  &__champagne {
    width: clamp(220px, 2vw, 325px);

    & img {
      width: 100%;
    }
  }
}
