.promotion {
  position: relative;
  z-index: -1;
  color: #ffffff;
  padding: 5em 2em 13em;
  background: url("../img/promotion-bg.jpg") center center/100% 100% no-repeat;
  @media (max-width: 500px) {
    padding-bottom: 6em;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    height: clamp(44px, 12vw, 315px);
    background: url("../img/winter-tree.svg") center center/100% 150% no-repeat;
  }

  &::before {
    top: -22%;
    z-index: 2;
    background: url("../img/branch-bottom.png") 0 0/100% 100% no-repeat;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 385px;
    display: block;

    @media (max-width: 1220px) {
      height: 290px;
      background: url("../img/branch-bottom.png") 0 0/cover no-repeat;
    }
    @media (max-width: 992px) {
      top: -20%;
      height: 280px;
    }
    @media (max-width: 790px) {
      top: -18%;
    }
    @media (max-width: 662px) {
      height: 250px;
    }
  }

  &__title {
    text-align: center;
    z-index: 10;
    position: relative;
    font-size: $big-font-size;
    font-weight: 700;
  }

  &__subtitle {
    text-align: center;
    margin-top: 3em;
    display: block;
    font-size: $medium-font-size;
    font-weight: 700;
  }

  &__row {
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    gap: 35px;
  }

  &__column {
    position: relative;
    width: clamp(52px, 5vw, 105px);
    height: clamp(52px, 5vw, 105px);
    background: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-of-type) {
      &::after {
        position: absolute;
        content: ':';
        top: clamp(12px, 1vw, 15px);
        right: -22px;
        font-weight: 700;
        font-size: calc(21px + 21 * ((100vw - 375px) / (1920 - 375)));
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 25px;
      height: 106px;
      bottom: 89%;

      @media (min-width: 1441px) {
        bottom: 93%;
      }
    }

    &:nth-of-type(1),
    &:nth-of-type(4) {
      &::before {
        background: url("../img/ball1.png");
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      &::before {
        height: 50px;
        background: url("../img/ball2.png") center center/contain no-repeat;
      }
    }
  }

  &__time {
    color: #7D0D13;
    font-weight: 700;
    font-size: calc(21px + 21 * ((100vw - 375px) / (1920 - 375)));
  }

  &__gradient-text {
    margin-top: 2.3em;
    text-align: center;
    font-weight: 700;
    font-size: clamp(40px, 2vw, 64px);
    background: linear-gradient(0deg, rgba(247, 225, 159, 1) 0%, rgba(255, 228, 149, 1) 46%, rgba(227, 168, 66, 1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__logo {
    margin: 2.3em auto 0;
    max-width: 754px;
    min-width: 320px;
  }

  &__million-logo {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  &__star-1 {
    top: 300px;
  }

  &__star-2 {
    bottom: 300px;
    right: 5%;
  }

  &__star-3 {
    bottom: 12vw;
    left: 10%;
  }
}

