@import "reset";
@import "fonts";
@import "variables";

body {
  font-family: GTWalsheimPro;
  font-size: $main-font-size;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

.row {
  display: flex;
}

/// HEADER START
@import "header";
/// HEADER END

/// PROMOTION START
@import "promotion";
/// PROMOTION END

/// PROMOTION RULES START
/// PROMOTION RULES END

