@import "reset";
@import "fonts";
@import "variables";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


body {
  font-family: 'GTWalsheimPro';
  font-size: $main-font-size;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  background: url("../img/bg-with-snow.png");
}

/*.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}*/

.container {
  margin: 0 auto;
  max-width: 1180px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: $title-font-size;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  color: #1C1C1C;
}

.star {
  position: absolute;
  width: clamp(37px, 5vw, 95px);
  height: clamp(31px, 4.5vw, 79px);

  img {
    width: 100%;
  }
}

.btn {
  display: block;

  width: clamp(161px, 20vw, 217px);
  padding: 0.9em 0;
  font-size: clamp(14px, 2vw, 18px);

  text-align: center;
  font-weight: 700;
  color: #7D0D13;

  background: #FFFFFF;
  border: 2px solid #7D0D13;
  border-radius: 10px;

  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    width: clamp(34px, 10vw, 47px);
    height: clamp(24px, 5vw, 16px);
    display: block;
    top: -12px;
    right: 50%;
    transform: translateX(50%);
    background: url("../img/bant.svg") center/contain no-repeat;
  }
}

.mt-100 {
  margin-top: clamp(75px, 7vw, 100px);
}

.row-center {
  justify-content: center;
  align-items: center;
}

.row--mt {
  margin-top: clamp(32px, 5vw, 45px);
}

.title--mt {
  margin-top: clamp(20px, 4vw, 48px);
}

.glide__arrows .glide__arrow {
  color: #1c1c1c;
}

.slider {

  .glide__slide {
    background: #FFFFFF;
    box-shadow: 0 8px 11px 4px rgba(187, 187, 187, 0.25), 0 0 11px 4px rgba(187, 187, 187, 0.25);;
    border-radius: 10px;

    img {
      max-width: 100%;
    }
  }

  @media (max-width: 800px) {
    .glide__arrow {
      display: none;
    }
  }

  .glide__arrow {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);

    img {
      max-width: 100%;
    }
  }

  .glide__slides {
    padding: 20px 0;
  }

  .glide__arrow--right {
    right: -2em;
  }

  .glide__arrow--left {
    left: -2em;
  }

  .glide__track {
    padding: 0 20px;
  }
}

/// HEADER START
@import "header";
/// HEADER END

/// PROMOTION START
@import "promotion";
/// PROMOTION END

/// PROMOTION RULES START
@import "promotionRules";
/// PROMOTION RULES END

/// PRODUCTS START
@import "products";
/// PRODUCTS END

/// WINNERS START
@import "winners";
/// WINNERS END

/// GENERAL-PARTNERS START
@import "generalPartners";
/// GENERAL-PARTNERS END

/// PARTNERS START
@import "partners";
/// PARTNERS END

/// FOOTER START
@import "footer";
/// FOOTER END

